@property --color-block-dims {
    syntax: "<length>";
    inherits: false;
    initial-value: 25px;
}

.color-pallet {
    width: 250px;
    margin: 0 0 15px 0;
}

.color-block {
    width: var(--color-block-dims);
    height: var(--color-block-dims);

    border: 2px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);

    background-color: var(--block-color);
}

.color-pallet .color-block {
    cursor: pointer;

    &:hover {
        transform: translateY(-4px);
    }

    &.active {
        transform: translateY(-8px);
    }

    transition: transform 0.3s ease;
}